{% for each in data %}
<!--<b>sender : </b>-->
{{ each.sender}}<br><form action="/gmail/{{each.id}}/un_trash/" method="post">
 {% csrf_token %}
 <input type="checkbox" name="is_trash" {% if appication.is_verified %}make trash{% endif %}/>
 <input type="submit" value="untrash">
</form>
<form action="/gmail/{{each.id}}/delete/" method="post">
 {% csrf_token %}
 <input type="checkbox" name="is_trash" {% if appication.is_verified %}make trash{% endif %}/>
 <input type="submit" value="delete">
</form>
{% endfor %}